@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}

body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
