@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply text-stone-300 tracking-wider bg-stone-900;
  }

  input, button {
    @apply tracking-wider
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}

body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
